.root{
 -fx-background-color: linear-gradient(#cc9900, #FFFFCC);
}

/* Estilizando o TextArea */
.text-area {
    -fx-background-color: #0f0f0f;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #2a9000;
}

/* Estilizando a área de texto interna */
.text-area .content {
    -fx-background-color: #0f0f0f;
    -fx-border-radius: 5px;
}

/* Adicionando efeito ao passar o mouse */
.text-area:hover {
    -fx-border-color: #2980b9;
}

/* Adicionando efeito de foco */
.text-area:focused {
    -fx-border-color: #2ecc71;
    -fx-background-color: #eafaf1;
}


.button{
    -fx-background-color: #5c555c;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.label{
    -fx-text-fill: #000000;
    -fx-background-color: 66CDAA;
    -fx-background-radius: 10;
    
}

/* Estiliza o cabeçalho da tabela */
.table-view .column-header-background {
    -fx-background-color: #2c3e50;
}

.table-view .column-header {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: #2c3e50;
}

/* Estiliza as linhas da tabela */
.table-row-cell:odd {
    -fx-background-color: #ecf0f1;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

/* Estiliza as células da tabela */
.table-cell {
    -fx-padding: 5px;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 0.5px;
    -fx-alignment: CENTER;
}

/* Ajusta o efeito quando o mouse passa sobre uma linha */
.table-row-cell:hover {
    -fx-background-color: #d5dbdb;
}


/* Estilizando o Label */
.label {
    -fx-font-size: 20px;
    -fx-text-fill: #000033;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-background-fills: transparent;
    -fx-alignment: center;
}



/* Alterando a cor ao passar o mouse */
.label:hover {
    -fx-text-fill: #e90623;
}

/* Adicionando estilo quando o Label estiver destacado */
.label-highlight {
    -fx-font-weight: bold;
    -fx-text-fill: #e74c3c;
}
